<form class="modal-content" action="/Registration" method="POST">
    <div class="container">
        <br><h1>Adding New Package</h1><hr>
        <label for="title"><b>Title</b></label>
        <input type="text" placeholder="Enter Title" name="title" value="{{formD.title}}">

        <div class="errors">{{titleError}}</div>

        <label for="cat"><b>Category</b></label>
        <input type="text" placeholder="Enter Category" name="cat" value="{{formD.cat}}">

        <div class="errors">{{catError}}</div>

        <label for="price"><b>Price</b></label>
        <input type="text" placeholder="Enter Price" name="price" value="{{formD.price}}">

        <div class="errors">{{priceError}}</div>

        <label for="nmeals"><b>Number of Meals</b></label>
        <input type="number" placeholder="Enter Number of Meals" name="nmeals" value="{{formD.nmeals}}">

        <div class="errors">{{nmealsError}}</div>

        <label for="desc"><b>Description</b></label>
        <input type="text" placeholder="Enter Description" name="desc" value="{{formD.desc}}">

        <div class="errors">{{descError}}</div>

        <label for="top"><b>Is it a top meal?</b></label>
        <input type="checkbox" name="top" value="true"> <b>yes</b>

        <div class="errors"></div>

        <button type="submit">Add</button>

    </div>
</form>