<style>
    .addbtn {
  background-color: #e8015a;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
}
.addbtn:hover {
  opacity: 1;
}

</style>
<div class="content">
    <br><br><h4>The list of all meals</h4><hr>
  {{#if added}}
    <div class="grid-container-allmealss" >
         {{#each data}}
        <div class="topmealss"> 
            <img src="/img/{{this.img}}"> <br><br>
            <h5 id="title"><b>{{this.title}}</b><br></h5>
            <h5 id="category"><b>Category:</b> {{this.category}}<br></h5>
            <h5 id="description">{{this.description}}<br></h5>
            <h5 id="numofmeals"><b>Meals in package:</b> {{this.meals}}<br></h5>
            <h5 id="price" style="color: crimson;"><b>{{this.price}}$</b><br></h5>
        </div>   
    {{/each}}
    </div>
    {{else}}
        <h4>No meals have been added so far!</h4>
    {{/if}}
    <button onclick="location.href='/Dashboard/DataClerk'" type="button" class="addbtn">Go Back</button>
    </div>