   <div class="jumbotron jumbotron-fluid">
  <div class="containergif">
   <h1 style="text-align:center; text-decoration: none; color: white;">Get Your Meals Delivered</h1><br>
  <h5 style="text-align:center; text-decoration: none; color: white;" >Check out our featured meal packages below</h5>
  </div>
</div>

<div class="content">
    <h4>Pick a package, choose your meals, achieve your goal - <b><i>it's that simple</i></b></h4><br>

    <div class="grid-container-allmealss" >
         {{#each data}}
        <div class="topmealss"> 
            <img src="/img/{{this.img}}"> <br><br>
            <h5 id="title"><b>{{this.title}}</b><br></h5>
            <h5 id="category"><b>Category:</b> {{this.category}}<br></h5>
            <h5 id="description">{{this.description}}<br></h5>
            <h5 id="numofmeals"><b>Meals in package:</b> {{this.meals}}<br></h5>
            <h5 id="price" style="color: crimson;"><b>{{this.price}}$</b><br></h5>
        </div>
    {{/each}}
    </div>